* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*==============================================================================
|     #Global styles for semi-resets
+=============================================================================*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fef0cd; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

/*==============================================================================
|     Main #Typography styles
+=============================================================================*/
html {
  font: 1.4em/1.7 "karla", "brandon grotesque", "helvetica", sans-serif;
  color: #161936;
  font-weight: 300; }

h1 {
  font: 1.7em/1 "jaf-lapture-display", "alegreya", "georgia", serif, serif;
  font-weight: 600;
  margin: 0; }

h2 {
  font: 16px/1 'silkscreen', sans-serif;
  margin: 0;
  padding: 0; }

h3 {
  font: 1em/1 "karla", "brandon grotesque", "helvetica", sans-serif, sans-serif;
  margin: 0;
  padding: 0; }

/*==============================================================================
|     #Header styles
+=============================================================================*/
header {
  display: block;
  max-width: 100%;
  height: 80%;
  display: block; }
  header:after {
    content: "";
    display: table;
    clear: both; }

.main-header {
  background: -webkit-linear-gradient(180deg, #ff5f33, #ff816b) center repeat;
  background: linear-gradient(180deg, #ff5f33, #ff816b) center repeat; }

.hero {
  position: relative;
  width: 54.5%;
  height: 100%;
  float: right;
  overflow: hidden; }

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .hero-img img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: auto;
    min-width: 100%;
    text-align: relative; }

/*==============================================================================
|     #Bulletin styles for cards
+=============================================================================*/
.bulletin {
  position: relative;
  width: 45.5%;
  height: 100%;
  max-height: 100%;
  float: left; }

.bulletin-title {
  position: relative;
  margin: 0;
  top: 43px;
  left: 3em;
  width: 431px;
  height: 41px;
  background-image: url("../img/recent_items_title.png");
  background-size: auto; }

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 520px;
  height: 600px;
  background-image: url("../img/logo_med.png");
  background-repeat: no-repeat;
  background-position: center center; }

.recent-items {
  position: relative; }

.recent-item-card {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/dots_pattern.png");
  background-color: transparent;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in; }
  .recent-item-card:hover {
    background-color: #00335e; }

.card-container {
  position: relative;
  margin: 0.75em;
  max-width: 15em;
  height: auto;
  background: #fef0cd;
  overflow: hidden; }

.card-handle {
  cursor: move;
  float: left;
  clear: left;
  width: 2em; }
  .card-handle:after {
    content: '';
    display: block;
    position: absolute;
    width: 2em;
    top: 0;
    bottom: 0; }

[data-label="tutorial"]:after {
  background: #c38fd6; }

[data-label="news"]:after {
  background: #afff94; }

[data-label="personal"]:after {
  background: #00335e; }

.card {
  margin-left: 2em;
  padding: 8px 10px; }
  .card h2 {
    margin: 0 0 0.5em 0;
    width: 100%;
    text-align: center;
    color: #ff5f33; }
  .card h1 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin: 0; }

/*==============================================================================
|     Styles for #Menu Hamburger, with psuedo-elements
+=============================================================================*/
nav {
  position: absolute;
  padding: 1em;
  z-index: 1000;
  height: 0; }

.nav-button {
  cursor: pointer;
  margin: 1em;
  width: 3em;
  height: 3em; }
  .nav-button span, .nav-button span:before, .nav-button span:after {
    display: block;
    content: "";
    position: absolute;
    width: 3em;
    height: 0.5em;
    cursor: pointer;
    border-radius: 1px;
    background: #fef0cd;
    -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .nav-button span:before {
    top: -1em; }
  .nav-button span:after {
    bottom: -1em; }
  .nav-button.active span {
    background-color: transparent;
    box-shadow: none; }
  .nav-button.active span:before, .nav-button.active span:after {
    top: 0; }
  .nav-button.active span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-button.active span:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.nav-list {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  background-image: url("../img/dots_pattern_white.png");
  -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .nav-list li {
    margin: 0;
    color: #161936;
    font-size: 3em;
    text-align: center; }
  .nav-list a {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0.5em;
    text-decoration: none;
    font-family: "karla", "brandon grotesque", "helvetica", sans-serif;
    font-weight: 900;
    color: #fef0cd; }
    .nav-list a:hover {
      color: #ff816b;
      background: #00335e; }

.closed {
  bottom: 0px;
  -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/*==============================================================================
|     Main #Article styles
+=============================================================================*/
.article {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 42.6842%;
  margin-left: 45.85264%;
  padding: 1em; }
  .article:last-child {
    margin-right: 0; }

.article-title {
  z-index: 1;
  position: absolute;
  bottom: 0; }

/*# sourceMappingURL=main.css.map */
