/*==============================================================================
|     Main #Article styles
+=============================================================================*/

.article {
  @include span-columns(4 of 9);
  @include shift(4);
  padding: 1em;
}

.article-title {
  margin: 1em 0 1em 50px;
  color: white;
  font-size: 3em;
}

.article-title-backing {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 80%;
  background-image: url('../img/dots_pattern_white.png');
}
