/*==============================================================================
|     Main #Article styles
+=============================================================================*/

.article {
  @include span-columns(4 of 9);
  @include shift(4);
  padding: 1em;
}

.article-title {
  z-index: 1;
  position: absolute;
  bottom: 0;
}
