/*==============================================================================
|     #Bulletin styles for cards
+=============================================================================*/

.bulletin {
  position: relative;
  width: 45.5%;
  height: 100%;
  max-height: 100%;
  float: left;
}
.bulletin-title {
  position: relative;
  margin: 0;
  top: 43px;
  left: 3em;
  width: 431px;
  height: 41px;
  background-image: url('../img/recent_items_title.png');
  background-size: auto;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate3d(-50%,-50%,0));
  width: 520px;
  height: 600px;
  background-image: url('../img/logo_med.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.recent-items {
  position: relative;
  // top: 100px;
  // left: 100px;
}
.recent-item-card {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/dots_pattern.png');
  background-color: transparent;
  @include transition(background-color 200ms ease-in);
  // @include transition(background-image 200ms ease-in);
  // background: ;
  &:hover {
    // @include transform(translate3d(0,-5px,0));
    // background-image: none;
    background-color: $blue;
  }
  // &:nth-of-type(2) {
  //   @include transform(translate3d(0,100%,0));
  // }
  // &:nth-of-type(3) {
  //   @include transform(translate3d(0,200%,0));
  // }
  // @include transition(top 800ms $ease-out-cubic);
}
.card-container {
  position: relative;
  margin: 0.75em;
  // max-width: 15em;
  width: 15em;
  height: auto;
  background: $offWhite;
  overflow: hidden;
}
.card-handle {
  cursor: move;
  float: left;
  clear: left;
  $width: 2em;
  width: $width;
  // background: $mint;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: $width;
    top: 0;
    bottom: 0;
    // background: $mint;
  }
}
[data-label="tutorial"]:after {
  background: $lavender;
}
[data-label="news"]:after {
  background: $mint;
}
[data-label="personal"]:after {
  background: $blue;
}
.card {
  margin-left: 2em;
  padding: 8px 10px;
  h2 {
    margin: 0 0 0.5em 0;
    width: 100%;
    text-align: center;
    color: $coralDark;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
  }
}

.ui-draggable-dragging {
  .recent-item-card {
    z-index: 1000;
  }
}
