/*==============================================================================
|     Main #Typography styles
+=============================================================================*/

$karla: 'karla', 'brandon grotesque', 'helvetica', sans-serif;
$lapture: 'jaf-lapture-display', 'alegreya', 'georgia', serif;
$facit: 'jaf-facit-web', sans-serif;

html {
  font: 1.4em/1.7 $facit;
  color: $blueBlack;
  font-weight: 600;
}

h1 {
  font: 1.7em/1 $lapture;
  font-weight: 600;
  margin: 0;
}
h2 {
  font: 16px/1 'silkscreen', sans-serif;
  margin: 0;
  padding: 0;
}
